/* global layout start */

* {
    box-sizing: border-box;
}

.sample {
    width: 1920px;
    height: 4319px;
}

header, #article_intro {
    display: flex;
    justify-content: center;
    background-color: #F2E9D8;
}

#article_example, #article_magazine, #contact, form, footer {
    display: flex;
    justify-content: center;
}

.wrapper_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66.666667vw;
    line-height: 20px;
}

.wrapper_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 66.666667vw;
    line-height: 20px;
}

.wrapper_column {
    display: flex;
    flex-direction: column;
    width: 66.666667vw;
    line-height: 20px;
}

.wrapper_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 66.666667vw;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

h2 {
    font-size: 48px;
    line-height: 60px;
}

h3 {
    font-size: 36px;
    line-height: 45px;
}


.font_thick_writing {
    font-weight: 700;
}

.font_colored_writing {
    color: #D97652;
}

button {
    border: none;
    background-color: #D97652;
    color: #FFF;
    font-weight: 700;
    border-radius: 40px;
}

.download_btn {
    width: 140px;
    height: 50px;
}

img {
    border: none;
}

/* global layout end */
/* header layout start */
#nav_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    width: 205px;
    justify-content: space-around;
    align-items: center;
    margin: 0 49px;
}

#list.gnb li {
    float: left;
}

a:link {
    color: inherit;
    text-decoration-line: none;
}

a:visited {
    color: inherit;
}

a:hover {
    color: red;
    text-decoration-line: underline;
}

#home_btn_header {
    width: 130px;
    height: 40px;
}

/* header layout end*/

/* article_intro layout start */

#intro_contents {
}

#intro_img {
    width: 415px;
    height: 766px;
}

#intro_text_heading {
    font-size: 48px;
    margin: 30px 0;
}

#intro_text_content {
    margin: 30px 0;
}

/* article_intro layout end */

/* article_example layout start */

#article_example_img {
    width: 660px;
    height: 390px;
    box-shadow: 10px 10px 30px 0 #000000;
}

#article_example_text_heading {
    margin: 30px 0;
}

#article_example_text_content {
    margin: 30px 0;
}

/* article_example layout end */

/* article_magazine layout start */

#article_magazine_text_heading {
    font-size: 48px;
    margin: 40px 0;
}

#article_magazine_img {
    margin: 88px 0 100px;
}

#article_magazine_text_additional {
    font-size: 24px;
    line-height: 30px;
    margin: 28px 0;
}

#show_more_btn {
    width: 143px;
    height: 50px;
}

/* article_magazine layout end */


/* 가상 요소 선긋기 시작 */

#main_contents article:nth-child(3) {
    position: relative;
    margin-bottom: 149px;
}

#main_contents article:nth-child(3)::after {
    content: "";
    position: absolute;
    left: 16.71875vw;
    right: 16.71875vw; /*버튼 넓이에 비례하여 설정*/
    bottom: -80px; /*버튼 높이에 비례햐여 설정*/
    height: 1px;
    width: 66.5625vw; /*뷰포트에 비례하여 설정*/
    background: #C4C4C4;
}

/* 가상 요소 선긋기 끝 */

/* contact layout start */

#contact_text_heading {
    margin: 20px;
}

#contact_text_content {
    font-weight: 500;
}

#contact_map {
    width: 1278px;
    height: 520px;
    margin: 48px 0 80px;
}

/* contact layout end */

/* subscribe layout start */

#subscribe {
    height: 200px;
    border-radius: 30px;
    background-color: #263140;
}

#subscribe_text {
    color: #FFF;
}

#subscribe_text_heading {
    margin-bottom: 18px;
}

#subscribe_box {
    width: 27.6vw;
    height: 60px;
    position: relative;
}

#subscribe_box_input {
    background-image: url("images/mail_img.png");
    background-repeat: no-repeat;
    background-position: 28px center;
    padding-left: 68px;
    border-radius: 60px;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

#subscribe_box_submit {
    position: absolute;
    right:1%;
    top: 8.335%;
    width: 135px;
    height: 83.33%;
}

/* subscribe layout end */

/* 모달 레이아웃 */

#modal_content {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

#modal_body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    z-index: 10;
    background-image: url("images/modal-background_img.png");
}